// project colors
$temp1: #3a3a3a;
$temp2: #363636;
$temp3: #2e2e2e;
$temp4: #252525;
$temp5: #222222;
$temp6: #1d1d1d;

$blue000: #90b3e7;
$blue100: #7c88f5;
$blue200: hsl(234, 86%, 69%);

// overwriting primevue variables
$shade000: #ffffff;
$shade50: #fafafa;
$shade100: #f4f4f4;
$shade200: #e4e4e4;
$shade300: #d4d4d4;
$shade400: #a1a1a1;
$shade500: #717171;
$shade600: #525252;

$shade700: $temp1;
$shade800: $temp2;
$shade900: $temp3;
$shade950: $temp4;
$shade1000: $temp5;
$shade1050: $temp6;

//input field (e.g. inputtext, spinner, inputmask)
$inputBorder: 1px solid transparent;
$inputHoverBorderColor: transparent;
$inputFocusBorderColor: transparent;

// button

$buttonBg: $blue100;
$buttonTextColor: $shade000;
$buttonBorder: 1px solid transparent;
$buttonHoverBg: $blue200;
$buttonTextHoverColor: $shade000;
$buttonHoverBorderColor: $blue200;
$buttonActiveBg: $blue200;
$buttonTextActiveColor: $shade000;
$buttonActiveBorderColor: $blue200;

// table
$tableBodyRowEvenBg: $shade950;
$tableHeaderCellPadding: 0.75rem 1rem;

// dialog

$dialogHeaderPadding: 20px;
$dialogContentPadding: 0 20px 20px 20px;


$borderRadius: 7px;

$view-bg: $shade900;

$menu-bg: $shade900;
$menu-link-color: $shade400;
$menu-link-hover-color: $shade000;
$menu-link-hover-bg: $shade950;

