@import './node_modules/@mdi/font/css/materialdesignicons.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #3a3a3a;
}

a {
	text-decoration: none;
	color: inherit;
}
